

<p>Hola! It's <%= Time.now %></p>
<p><%= link_to 'Monday', welcome_say_monday_path %></p>
<p><%= link_to 'Tuesday', welcome_tuesday_path %></p>
<p><%= link_to 'Wednesday', welcome_wednesday_path %></p>
<p><%= link_to 'Thursday', welcome_thursday_path %></p>
<p><%= link_to 'Friday', welcome_friday_path %></p>

